@media screen and (min-width: 600px) {
  .products {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 850px) {
  .products {
    grid-template-columns: auto auto auto;
  }
}
