.tip {
  height: 15px;
  width: 15px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: inline-block;
  font-size: 10px;
  right: 750px;
  bottom: 340px;
}

.signup-button {
  text-decoration: none;
  color: black;
}

.signup-button:hover {
  color: blue;
}
