.nav-bar-lead {
    padding: 10px;
    background-color: #000000;
    color: white;
    display: inline-block;
    float: left;
    font-size: 18px;
}

@media screen and (max-width: 600px) {
    .nav-bar-lead {
        position: absolute;
        top: 10px;
        left: 10px;
        float: none;
    }
}