.nav-bar {
  background-color: grey;
  padding: 20px 50px 20px 50px;
  user-select: none;
}

.nav-bar > .right {
  float: right;
}

.nav-bar > .right > * {
  margin-left: 5px;
}

.nav-bar > .left {
  float: left;
}

.nav-bar > .left > * {
  margin-right: 5px;
}

.nav-bar > .left > *, .nav-bar > .right > * {
  padding: 11.4px;
  display: inline-block;
  text-align: center;
  min-width: 50px;
}

.nav-bar *:hover{
  cursor: pointer;
}

.clear-fix {
  clear: both;
}

.nav-bar .nav-bar-icon {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}

@media screen and (max-width: 600px) {
  .nav-bar {
      padding: 40px 20px 20px 20px;
      max-height: 0;
      overflow: hidden;
  }

  .nav-bar > .left, .nav-bar > .right {
      display: none;
  }

  .nav-bar-icon {
      display: block !important;
  }
}

@media screen and (max-width: 600px) {
  .nav-bar.toggled {
      padding: 60px 0 0 0;
      max-height: 1500px;
      transition: max-height 1s;
  }

  .nav-bar.toggled > .left {
      border-bottom: 1px solid black;
      margin: 15px 0 0 0 ;
  }

  .nav-bar.toggled *:not(.nav-bar-lead):not(.nav-bar-icon) {
      float: none;
      display: block !important;
      text-align: left;
      margin: 0;
  }
}