.nav-bar {
  padding: 5px 0 7px;
  max-height: 10vh;
  overflow: hidden;
  background-color: black;
}

.nav-bar .right {
}
.nav-bar .left {
}
.nav-bar .left > *,
.nav-bar .right > * {
  text-align: center;
  min-width: 50px;
  text-decoration: none;
}

.clear-fix {
  clear: both;
}
.nav-bar .nav-bar-icon {
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  color: white !important;
}

.nav-bar-icon {
  display: block !important;
}
.search-bar-icon {
  cursor: pointer;
  color: white;
  background-color: black;
}

.nav-bar button {
  background-color: black;
  border-color: black;
}

@media screen and (min-width: 910px) {
  .nav-bar {
    user-select: none;
    max-height: none;
  }

  .nav-bar-icon {
    visibility: hidden;
  }
  .link-row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
  }
}
@media screen and (max-width: 910px) {
  .nav-bar.toggled {
    padding: 10px 0 0 0;
    max-height: 1500px;
    transition: max-height 1s;
  }
  .nav-bar.toggled > .left {
    border-bottom: 1px solid black;
    margin: 15px 0 0 0;
  }
  .nav-bar.toggled *:not(.nav-bar-lead):not(.nav-bar-icon) {
    float: none;
    display: block !important;
    text-align: left;
    margin: 0;
  }
}
