.nav-bar-item:hover {
  background-color: white;
  color: black;
}

.nav-bar-item {
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  margin: 4px 2px;
  transition: 0.3s;
  display: inline;
}
