.shop-item {
    margin: 30px;
}



.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.cart-row {
    display: flex;
    border-bottom: 1px solid black;
}



.cart-price {
    width: 20%;
    font-size: 1.2em;
    color: #333;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: 1em;
    font-size: 1.2em;
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 8px;
    padding-top: 10px;
}

.remove-btn {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.remove-btn:hover {
    background-color: #CC4C4C;
    cursor: pointer;
}


.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.inc-item {
    color: white;
    background-color: rgb(97, 210, 248);
    border: none;
    font-weight: bold;
    height:50px;
    width:50px;
}

.dec-item {
    color: white;
    background-color: lightcoral;
    border: none;
    font-weight: bold;
    height:50px;
    width:50px;
}

.inc-item:hover {
    background-color: rgb(0, 0, 253);
    color: black;
    cursor: pointer;
}

.dec-item:hover {
    background-color: rgb(243, 26, 26);
    color: black;
    cursor: pointer;
}

.clear-cart {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.clear-cart:hover {
    background-color: #CC4C4C;
    cursor: pointer;
}