.shop-item {
    margin: 30px;
}



.shop-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.cart-row {    
    /* line-height: 14px; */
    /* display: flex;
    border-bottom: 1px solid black;
    width: 450px;
    padding-left: 80px; */
}



.cart-price {
    width: 20%;
    /* font-size: 1.2em; */
    color: #333;
}

.item-count {
    padding-right: 10px;
}

.cart-quantity {
    width: 35%;
}

.cart-item-title {
    color: #333;
    margin-left: 1em;
    /* font-size: 1.2em; */
}

.cart-item-image {
    width: 75px;
    height: auto;
    border-radius: 8px;
    padding-top: 10px;
}

.cart-total {
    text-align: end;
    margin-top: 10px;
    margin-right: 10px;
}

.cart-total-title {
    font-weight: bold;
    font-size: 1.5em;
    color: black;
    margin-right: 20px;
}

.inc-item {
    color: white;
    background-color: rgb(97, 210, 248);
    border: none;
    font-weight: bold;
    height:30px;
    width:35px;
}

.dec-item {
    color: white;
    background-color: lightcoral;
    border: none;
    font-weight: bold;
    height:30px;
    width:35px;
}

.inc-item:hover {
    background-color: rgb(0, 0, 253);
    color: black;
    cursor: pointer;
}

.dec-item:hover {
    background-color: rgb(243, 26, 26);
    color: black;
    cursor: pointer;
}

.remove-btn {
    color: white;
    background-color: #EB5757;
    border: none;
    /* border-radius: .3em; */
    height:30px;
    width:55px;
    font-weight: bold;
}

.remove-btn:hover {
    background-color: #CC4C4C;
    cursor: pointer;
    color: black;
}

.clear-cart {
    color: white;
    background-color: #EB5757;
    border: none;
    border-radius: .3em;
    font-weight: bold;
}

.clear-cart:hover {
    background-color: #CC4C4C;
    cursor: pointer;
}

@media screen and (min-width: 600px) {
    .remove-btn, .dec-item, .inc-item  {
     height: 50px;
     width: 55px;
    }
    .cart-row {
     padding-left: 0px;
    display: flex;
    border-bottom: 1px solid black;
    width: 450px;
    padding-left: 80px;
    }
  }